
  
  
  .card_img img {
    overflow: hidden;
    margin-left: 20%;
    width: 50%;
    height: 100%;
  
  }

  .card {
    margin-top: 35px;
  }
  
  
  .card-img-bottom{
    width: 50%;
    height: 30%;
  }
  
  


  
  .card_logo {
    display: flex;
    margin-top: 20px;
    gap: 30px;
    justify-content: space-around;
    cursor: pointer;
  }
  
  .card_logo .heart:hover {
    transition: 0.3s;
    transform: scale(2);
    color: red;
  }
  
  .card_logo .comment:hover {
    transition: 0.3s;
    transform: scale(2);
    color: blue;
  }
  
  
  .card_logo .share:hover {
    transition: 0.3s;
    transform: scale(2);
    color: green;
  }
  
  .card_logo .trash:hover{
    transition: 0.3s;
    transform: scale(2);
    color: brown;
  }
  
  .red{
    color: red;
  }
  
  
  @media screen and (min-width:320px) and (max-width:600px) {
  

  
    .card_img img{
      margin-left: 10px;
        width: 80%;
     }
  
  
  }
  


  @media screen and (min-width:600px) and (max-width:600px) {
  
  
    .card_img img{
        width: 100%;
     }

  }
  