.div_logo{
    margin-top: 3vh;
    margin-right: 3vw;
    display: flex;
    font-size: xx-large;
    justify-content: flex-end;
    
}

.logo{
    border: 2px solid black;
    padding: 3px;
    z-index: 15;
}


.white{
    border: 2px solid white;
    color: white;
}

.logo_pen{
    z-index: 10;
    top: 500px;
    position: sticky;
    display: flex;
    justify-content: flex-end;
    bottom: 100%;
    color: white;
    cursor: pointer;
    margin-left: 1000px;
}


.pen {
    padding: 10px 10px;
    border-radius: 50%;
    background-color: black;
   
}

.logo_pen:hover{
    color: blue;
    transition: 0.5s;
    transform: translateY(-5px);
}


@media screen and (min-width:320px) and (max-width:1000px) {
    .logo_pen{
        margin-left: 0px;
    }
}