:root {
    --form-bg-color:#ecf0f3;
    --form-bg-shadow:#cbced1;
    --form-title-color:#1b1010;
    --button-bg-color:#060808;
    --button-sbu-color:#fff;
}


/* .form_formulaire {
    position: relative;
    left: 550px;
    width: 350px;
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: var(--form-bg-color);
    box-shadow: 14px 14px 20px var(--form-bg-shadow), -14px -14px 20px white;
} */

/* .form_inscription{
    position: relative;
    left: 550px;
    width: 450px;
    height: 750px;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: var(--form-bg-color);
    box-shadow: 14px 14px 20px var(--form-bg-shadow), -14px -14px 20px white;
} */

.form_logo {
    height: 60px;
    width: 60px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 7px 7px 10px var(--form-bg-shadow), -7px -7px 10px white;
    overflow: hidden;
}

.form_titre {
    margin-top: 10px;
    font-weight: 900;
    font-size: 1.8rem;
    color: var(--form-title-color);
    letter-spacing: 1px;
}


.inputs {
    text-align: left;
    margin-top: 15px;
}

.inputs_inscription {
    margin-top: 0px;
}

label,
input
{
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

input:invalid {
    animation: shake .3s;
}

@keyframes shake {
    25%{ transform: translateX(4px);}
    50%{ transform: translateX(-4px);}
    75%{ transform: translateX(4px);}
}

label {
    margin-bottom: 4px;
}

label:nth-of-type(2) {
    margin-top: 12px;
}

input::placeholder {
    color: gray;
}

input {
    background: var(--form-bg-color);
    padding: 10px;
    padding-left: 10px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px var(--form-bg-shadow), inset -6px -6px 6px white;
}



button {
    display: block;
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    color: white;
    background: var(--button-bg-color);
    height: 40px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px var(--form-bg-shadow), -6px -6px 6px white;
    transition: 0.5s;
}






.form_button{
    margin-top: 25px;
}


.button_submit {
    position: relative;
    border: none;
    z-index: 0;
    color: var(--button-sbu-color);
    border: none;
    outline: none;

}

.button_submit::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    animation: glowing 20s linear infinite;
    background-size: 400%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    filter: blur(50px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 10px;
    transition: 0.5s;
}


.button_submit:active {
    color: white;
}

.button_submit:active:after {
    background-color: transparent;
}

.button_submit:hover:before {
    opacity: 1;
}


.button_submit::after {
    transition: 0.5s;
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% {
        transition: 0.5s;
        background-position: 0 0;
    }

    50% {
        transition: 0.5s;
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media screen and (min-width:320px) and (max-width:550px) {
    .form_formulaire{
        left: 25px;
        width: 275px;
        height: 450px;
        padding: 20px;
    }

}

@media screen and (min-width:551px) and (max-width:800px) {
    .form_formulaire{
        left: 200px;
        width: 350px;
        height: 500px;
        padding: 20px;
    }
    
}


@media screen and (min-width:320px) and (max-width:530px) {
    .form_inscription{
        left: 25px;
        width: 275px;
        height: 550px;
        padding: 20px;
    }

}

@media screen and (min-width:530px) and (max-width:800px) {
    .form_inscription{
        left: 200px;
        width: 350px;
        height: 550px;
        padding: 20px;
    }
    
}